# Treat split archive parts as binary (no EOL conversion, no diff)
*.zip.001 binary
*.zip.002 binary
*.zip.003 binary
*.zip.004 binary
*.zip.005 binary
*.zip     binary
*.exe     binary
*.dll     binary
*.pyd     binary
